---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro"
import RegistroUsuario from "../components/RegistroUsuario.astro";
import RegistroSolicitud from "../components/RegistroSolicitud.astro";
import RegistroGestion from "../components/RegistroGestion.astro";
import Intro from "../components/Intro.astro";
import Acordeon from "../components/Acordeon.astro";
import Back from "../components/Back.astro";
---

<Layout
	title="Capanet"
	description="Proyecto SPA para herramientas de capacitación."
>
	<main class="px-4">
	 
		<SectionContainer class="py-44 pb-32 animate-fade-right animate-once" id="inicio">
			 <Intro></Intro>
		</SectionContainer>

		<SectionContainer id="registro">
			<RegistroUsuario></RegistroUsuario>
		</SectionContainer>

		<SectionContainer id="solicitud">
			<RegistroSolicitud></RegistroSolicitud>
		</SectionContainer>

		<SectionContainer id="gestion">
			 
		</SectionContainer>

		<SectionContainer id="mas-informacion">
			<Acordeon>	</Acordeon>
		</SectionContainer>

		<SectionContainer>
			<Back>	</Back>
		</SectionContainer>
		 
	</main>
</Layout>
