<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
      <h1 class="animate-pulse mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">¡Invertimos en el potencial del mundo!</h1>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-68 dark:text-gray-400">Aquí en Capa.net nos centramos en enseñar las mejores habilidades para llevar el servicio al cliente a otro nivel.</p>
    </div>
  </section>
  