---
astro: true
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Registro de Usuario</h2>
    <form action="#" id="user-registration-form">
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label for="full-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre:</label>
          <input type="text" name="full-name" id="full-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Nombre y Apellidos" required="">
        </div>
        <div>
          <label for="id-number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cédula de Identidad:</label>
          <input type="text" name="id-number" id="id-number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Número de Cédula" required="">
        </div>
        <div>
          <label for="id-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo de identificación:</label>
          <select id="id-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option selected disabled>Seleccione Tipo</option>
            <option value="fisico">Físico</option>
            <option value="juridico">Jurídico</option>
            <option value="extranjero">Extranjero</option>
          </select>
        </div>
        <div>
          <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono:</label>
          <input type="tel" name="phone" id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Número de Teléfono" required="">
        </div>
        <div>
          <label for="entry-channel" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Canal de entrada:</label>
          <select id="entry-channel" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option selected disabled>Seleccione Canal</option>
            <option value="phone">Teléfono</option>
            <option value="email">Email</option>
            <option value="orange-phone">Teléfono Naranja</option>
          </select>
        </div>
        <div>
          <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Departamento de trámite:</label>
          <select id="department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option selected disabled>Seleccione Departamento</option>
            <option value="banca-facil">Banca Fácil</option>
            <option value="800-tarjetas">800-Tarjetas</option>
            <option value="800-mipymes">800-MiPymes</option>
            <option value="contraloria-servicios">Contraloría de Servicios</option>
            <option value="credito">Crédito</option>
            <option value="cobro-administrativo">Cobro Administrativo</option>
          </select>
        </div>
        <div>
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo electrónico:</label>
          <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Correo Electrónico" required="">
        </div>
        <div>
          <label for="birthdate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha de nacimiento:</label>
          <input type="date" name="birthdate" id="birthdate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required="">
        </div>
        <div class="sm:col-span-2">
          <label for="observations" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Observaciones:</label>
          <textarea id="observations" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Ingrese Observaciones"></textarea>
        </div>
      </div>
      <div class="flex justify-between mt-4 sm:mt-6">
        <button type="submit" class="inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-blue-500 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-600">
            Aceptar
        </button>
        
      </div>
    </form>
  </div>
</section>

 