<div class="flex items-center gap-4">
    <!-- Contenedor del icono (derecha) -->
    <div class="ml-auto">
        <img
            class="w-10 h-10 rounded-full"
            src="/Logo.jpg"
            alt="Foto de perfil"
        />
    </div>

    <!-- Contenedor del texto (centro) -->
    <div class="font-medium dark:text-white">
        <div>¡Hola! Soy Enrique Cascante</div>
        <div class="text-sm text-gray-500 dark:text-gray-400">
            Programador desde Abril 2019
        </div>
    </div>
</div>
