---
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";

interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<!--Dentro del slot es donde se renderizan los componentes.--><!--Dentro del root es donde van los gradientes globales.--><!--Dentro de style se puede globalizar html, body, header, etc.-->
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<!--Cambiar rgb para modificar el color del gradiente.-->
		<div
			class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
		>
		</div>
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background: #151515d8;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media ((prefers-reduced-motion: reduce)) {
		body {
			scroll-behavior: auto;
		}
	}
</style>
